[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
pandas = "==0.25.3"
numpy = "==1.18.1"
pyarrow = "==0.16.0"  # to read/write parquet
ipython = "==7.16.3"  # not needed; left for convenience
requests = "==2.23.0" # not needed; left for convenience

[requires]
python_version = "3.6"
